<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Touchize_TouchizeCommerce::touchize" title="Touchize" module="Touchize_TouchizeCommerce" sortOrder="100" resource="Touchize_TouchizeCommerce::touchize" />
        <add id="Touchize_TouchizeCommerce::settings" title="Settings" module="Touchize_TouchizeCommerce" sortOrder="900" resource="Touchize_TouchizeCommerce::settings" parent="Touchize_TouchizeCommerce::touchize"  action="adminhtml/system_config/edit/section/touchize_commmerce_config" />
    </menu>
</config>