<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="touchize_commmerce_tab" translate="label" sortOrder="200">
            <label>Touchize Commerce</label>
        </tab>
        <section id="touchize_commmerce_config" translate="label" type="text" sortOrder="15000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Touchize Commerce Configuration</label>
            <tab>touchize_commmerce_tab</tab>
            <resource>Touchize_Commerce::config</resource>
            <group id="touchize_commmerce_setup" translate="label" type="text" sortOrder="9100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Setup</label>
                <field id="display_devices" translate="label" type="radios" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Choose devices to display</label>
                    <comment><![CDATA[Choose devices to display.]]></comment>
                    <source_model>Touchize\Commerce\Model\Config\Source\Devices</source_model>
                </field>
                <field id="default_category" translate="label" type="select" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Choose Default Category</label>
                    <comment><![CDATA[Choose category to display on homepage]]></comment>
                    <source_model>Touchize\Commerce\Model\Config\Source\Category</source_model>
                </field>
                <field id="selection_title" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Selection Option Title</label>
                    <comment><![CDATA[Selection Option Title.]]></comment>
                </field>
                <field id="options_title" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Options Title</label>
                    <comment><![CDATA[Options Title]]></comment>
                </field>
                <field id="back_button_title" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Back Button Title</label>
                    <comment><![CDATA[Back Button Title]]></comment>
                </field>
                <field id="features_label" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Features Label</label>
                    <comment><![CDATA[Features Label]]></comment>
                </field>
                <field id="html_in_header" translate="label" type="textarea" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom HTML in Header</label>
                    <comment><![CDATA[Put here your HTML code to display it in the header]]></comment>
                </field>
                <field id="html_in_footer" translate="label" type="textarea" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom HTML in Header</label>
                    <comment><![CDATA[Put here your HTML code to display it in the footer]]></comment>
                </field>
            </group>
            <group id="touchize_commmerce_design" translate="label" type="text" sortOrder="9700" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Theme Design</label>
                <field id="theme_type" translate="label" type="radios" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Chose your theme type to display</label>
                    <comment><![CDATA[Chose your theme to display.<div id="theme-types"></div>]]></comment>
                    <source_model>Touchize\Commerce\Model\Config\Source\Themes</source_model>
                </field>
            </group>
            <group id="touchize_commmerce_cdn" translate="label" type="text" sortOrder="10100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CDN configuration</label>
                <field id="use_cdn_for_client" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use CDN for client</label>
                    <comment><![CDATA[If client js and css should be fetched from a CDN. Default No, will then be fetched locally.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="client_cdn_path" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client CDN path</label>
                    <comment><![CDATA[Url or path for client CDN.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>