<?xml version="1.0"?>
<!--
/**
 * 2018 Touchize Sweden AB.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to magento@touchize.com so we can send you a copy immediately.
 *
 * @author    Touchize Sweden AB <magento@touchize.com>
 * @copyright 2018 Touchize Sweden AB
 * @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 *  International Registered Trademark & Property of Touchize Sweden AB
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <touchize_commmerce_config>
            <touchize_commmerce_setup>
                <display_devices>3</display_devices>
                <options_title>Select option</options_title>
                <selection_title>Option selections</selection_title>
                <features_label>Features</features_label>
                <back_button_title>Back</back_button_title>
            </touchize_commmerce_setup>
            <touchize_commmerce_menu>
                <items><![CDATA[{"_1536226264688_688":{"item_type":"divider","link_title":"Clear line","link_path":"","is_external":"0"},"_1536226645140_140":{"item_type":"header","link_title":"Addtitional","link_path":"","is_external":"0"},"_1536226980137_137":{"item_type":"item","link_title":"About Us","link_path":"about-us","is_external":"0"},"_1536229880359_359":{"item_type":"item","link_title":"External Link","link_path":"http:\/\/www.google.com\/search?q=touchize","is_external":"1"}}]]></items>
            </touchize_commmerce_menu>
            <touchize_commmerce_design>
                <theme_type>classic</theme_type>
            </touchize_commmerce_design>
            <touchize_commmerce_cdn>
                <use_cdn_for_client>1</use_cdn_for_client>
                <client_cdn_path>https://d2kt9xhiosnf0k.cloudfront.net</client_cdn_path>
            </touchize_commmerce_cdn>
            <touchize_commmerce_category>
                <enable_limit>1</enable_limit>
                <items_limit>100</items_limit>
                <show_all_on_parent>1</show_all_on_parent>
                <enable_related>1</enable_related>
                <label_related>Related Products</label_related>
                <enable_upsells>1</enable_upsells>
                <label_upsells>Up-Sells Products</label_upsells>
                <enable_cross>1</enable_cross>
                <label_cross>Cross Sales Products</label_cross>
            </touchize_commmerce_category>
        </touchize_commmerce_config>
    </default>
</config>
