<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_render_before">
        <observer name="touchize.layout.update" instance="Touchize\TouchizeCommerce\Observer\UpdateLayoutObserver" />
    </event>
</config>